body {
    background-color: #F8ECC2;
    font-family: Raleway, OpenSans, sans-serif;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
}

header{
    
}
.logo {
    display: -ms-flexbox;
    display: flex;
}
.logo .logo-img{
    width: 100px;
}

nav .ul-menu li {
    display: inline-block;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 20px 30px;
    text-transform: uppercase;
}

nav a:hover {
    background: #E65540;
}

nav .ul-social {
    display: none;
}

nav .ul-social img {
    width: 25px;
}

.menu-trigger {
    position: absolute;
    right: 21px;
    display: none;
    top: 23px;
    width: 40px;
}

.menu-trigger .open {
    display: none;
}

.open-menu .open {
    display: block;
}

.open-menu .close {
    display: none;
}

@media screen and (max-width: 768px) {

    .logo {
        height: 65px;
        -ms-flex-pack: center;
            justify-content: center;
    }

    .menu-trigger {
        display: block;
    }
    .menu-trigger img{
        width: 30px;
    }

    nav {
        height: 100vh;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    nav ul li {
        display: block;
    }

    nav ul {
        display: none;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }

    nav .ul-menu {
        -ms-flex-direction: column;
        flex-direction: column;
        height: 50vh;
        position: relative;
        top: 26px;
    }
    nav .ul-social img{
        margin-bottom: 3px;
    }
    nav .ul-social li:nth-child(1){
         margin-left: 25px;
     }
    nav .ul-social li:nth-child(3){
        margin-right: 25px;
        margin-top: -2px;
    }
}